
{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Student's Addmission</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></link>

</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger  ">Soft-Tech Acadamy</h2>
        <h4 class="text-center alert alert-success" strong >CRUD Operation Project</h4>    
        
        {% block content %} {% endblock content %}
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>